.img-profile {
    height: 4rem;
    width: 4rem
}
.rounded-circle {
    border-radius: 50%
}
.col-12 {
    flex: 0 0 100%;
    margin-top: 16px;
    max-width: 100%;
}
input[type='tel'] {
    left: 0;
    padding-left: 70px !important;
}
.iti.iti--allow-dropdown {
    display: block;
  }


a.imgfileAnchor img {
    height: 100px;
    margin-bottom: 20px;
}

body.bg-gradient-primary {
    background-color: #f4f7fa !important;
    background-image: none !important;
    background-size: cover;
  }

  body.bg-gradient-primary {
    height: 100vh;
}

body.bg-gradient-primary .container {
    height: 100%;
}

.row.justify-content-center.login {
    height: 100vh;
    align-items: center;
}


.bg-gradient-primary.login ,  
.bg-gradient-primary.login .container{
    height: 100vh;
}


#accordionSidebar {
    background-color: #313541;
}

a.sidebar-brand.d-flex.align-items-center.justify-content-center {
    background-color: #8b0000;
}



div#registerDiv {
    background-color: #213159;
    padding: 10px 20px;
}

div#registerDiv a {
    color: white !important;
    font-weight: bold !important;
    font-size: 17px !important;
}

.mylogin {
    font-size: 18px !important;
    font-weight: bold;
    letter-spacing: 2px;
}

.sidebar-brand-text h1 {
    font-size: 17px;
    margin-bottom: 0px;
}

#accordionSidebar li a i {display: flex;justify-content: center;align-items: center;margin-left: auto;margin-right: auto;font-size: 26px;}

#accordionSidebar li a span {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: normal;
    margin-top: 9px;
}

#accordionSidebar .nav-item .nav-link:hover i, #accordionSidebar .nav-item .nav-link:hover span {
    color: white !important;
    transition: .3s;
    transform: scale(1.1);
}

input , button, select {
    border-radius: 0px !important;
}

.sidebar .nav-item:hover {
    border-right: 4px solid darkred;
}

.sidebar hr.sidebar-divider {
    margin: 0px !important;
}

.btn-primary {
    letter-spacing: 2px;
    padding: 10px 40px;
}

a.sidebar-brand.d-flex.align-items-center.justify-content-center {
    padding: 14px;
}

.sidebar .sidebar-brand .sidebar-brand-text {
    display: block !important;
    margin: 0px !important;
}


/* Active/Inactive Switch Start  */

.activeInactive .switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 34px;
  }
  
  .activeInactive .switch input {display:none;}
  
  .activeInactive .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCCCCC;
    -webkit-transition: .4s;
    transition: .4s;
     /* border-radius: 34px; */
  }
  
  .activeInactive .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    /* border-radius: 50%; */
  }
  
  .activeInactive input:checked + .slider {
    background-color: #139e6f;
  }
  
  .activeInactive input:focus +  .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .activeInactive input:checked +  .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .activeInactive .slider:after {
    content: 'INACTIVE';
    color: black;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 62%;
    font-size: 11px;
    font-family: Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}
  
  .activeInactive input:checked + .slider:after {
    content: 'ACTIVE';
    color: white !important;
    left: 35px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}


  .activeInactive input:checked + .slider:before {
    transform: translateX(75px) !important;
}


/* Active/Inactive Switch End  */